CWE Version {{ context.ContentVersion }}

Release Date:     {{ context.ContentDate }}
Total Categories: {{ context.TotalCategories }}
Total Views:      {{ context.TotalViews }}
Total Weaknesses: {{ context.TotalWeaknesses }}
