{% if context.cli_version %}CLI Version:          {{ context.cli_version }}{% endif %}
{% if context.api_version %}CWE API Version:      {{ context.api_version }}{% endif %}
{% if context.std_version %}CWE Standard Version: {{ context.std_version }}{% endif %}
