{% for weakness in context.Weaknesses %}
CWE #{{ weakness.ID }}: {{ weakness.Name }}

{{ weakness.Description }}

Abstraction: {{ weakness.Abstraction }}
  Structure: {{ weakness.Structure }}
     Status: {{ weakness.Status }}
{% endfor %}
