{% for entry in context %}
CWE #{{ context.ID }}: {{ context.Name }}

Abstraction: {{ context.Abstraction }}
  Structure: {{ context.Structure }}
     Status: {{ context.Status }}

Description:

{{ context.Description }}
{% endfor %}
